@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
  --primary-color: #636B61;
  --secondary-color: #AFA2FF;
  --accent1-color: #E3D7FF;
  --accent2-color: #E3D7FF;

  --heading-font: 'Oswald', Sans-serif;
  --paragraph-font: ' Open Sans', Sans-serif;

  --nav-background-color: #7a89c2;
  --nav-link-color: #9596e1;
  --nav-hover-link-color: #636b61;
  --nav-hover-background-color: #E3D7FF;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #333333;
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p{
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}